.basket-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  max-width: 452px;
  max-height: 84px;
  padding: 12px 12px 11px;
  border: 1px solid $silver-600;
  border-radius: 3px;
  background-color: $white;

  &:hover {
    border: 1px solid $green-900;
  }

  &__btn {
    content: "";
    position: absolute;
    top: -6px;
    right: -5px;
    width: 12px;
    height: 12px;
    border: none;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 45px;
      background-image: url(../images/basket/removebtn.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__picture {
    width: 81px;
    min-height: 60px;
    margin-right: 12px;
    background-repeat: no-repeat;
  }

  &__content {
    margin-right: 29px;
    max-width: 151px;
    min-height: 45px;
  }

  &__link {
    display: flex;
  }

  &__name {
    display: block;
    margin-bottom: 5px;
    min-width: 151px;
    font-weight: 600;
    line-height: 1.4;
    color: $dark-900;
    letter-spacing: 0.03em;
  }

  &__new-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: $dark-500;
  }

  &__details {
    padding-top: 33px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 162px;
  }

  &__count {
    margin-left: 61px;
    padding-top: 7px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
  }

  &__symbol {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 13px;
  }
}

.banner-card {
  padding: 80px 33px;
  border-radius: 4px;
  min-width: 300px;
  min-height: 300px;
  @extend %bg-center-cover;

  @include media-w($md) {
    position: relative;
  }

  @include media-w($sm) {
    padding: 74px 143px 26px 22px;
    width: 100%;
  }

  @include media-w($xs) {
    padding: 77px 149px 26px 12px;
    max-width: 100%;
  }

  &--long {
    min-width: 630px;
    padding: 79px 206px 80px 33px;
    width: 100%;
    text-shadow: 1px 1px 0px $dark-925;
    color: $white;

    @include media-w($sm) {
      min-width: 345px;
      max-width: 100%;
    }

    @include media-w($xs) {
      padding: 77px 61px 28px 13px;
      min-width: 100%;
      max-width: 100%;
    }
  }

  &--last {
    @include media-w($sm) {
      padding: 75px 158px 33px 20px;
    }

    @include media-w($xs) {
      padding: 77px 164px 30px 10px;
      max-width: 100%;
    }
  }

  &__text {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 18px;
    letter-spacing: 0.1em;

    @include media-w($xs) {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-family: 'Signika',
      'Open Sans',
      sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 9px;

    @include media-w($sm) {
      font-size: 24px;
    }

    @include media-w($xs) {
      margin-bottom: 77px;
    }
  }

  &__link {
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    border-bottom: 2px solid;

    @include media-w($md) {
      // position: absolute;
      bottom: 79px;
    }

    @include media-w($sm) {
      bottom: 50px;
    }

    @include media-w($xs) {
      bottom: 30px;
    }
  }
}

.news-card {
  &__link {
    display: block;
    min-height: 353px;
    box-shadow: 0px 3px 3px $dark-925;
    border-radius: 6px;
    color: $dark-900;
    transition: color 0.3s;

    &:hover {
      .news-card__name {
        color: $green-900;
      }
    }

    @include media-w($xs) {
      min-height: auto;
    }

  }

  &__picture {
    max-width: 100%;
    position: relative;
  }

  &__img {
    border-radius: 6px 6px 0 0;
    object-fit: cover;

    @include media-w($xs) {
      max-height: 200px;
    }
  }

  &__wrapper {
    padding: 18px;
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    @include overflow(3);

    @include media-w($xs) {
      font-size: 14px;
    }
  }

  &__date {
    position: absolute;
    text-align: center;
    top: 0;
    left: 20px;
    padding: 18px 6px 10px 6px;
    width: 65px;
    min-height: 76px;
    background-color: $white;
    border-radius: 0px 0px 4px 4px;
    z-index: 2;
    text-align: center;
  }

  &__month {
    display: block;
    margin: 0 auto 6px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__num {
    display: block;
    text-align: center;
    max-width: 33px;
    margin: 0 auto;
    font-family: 'Signika',
      'Open Sans',
      sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
  }
}

.mini-card {
  padding: 0;
  background-color: $white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: block;
  max-width: 300px;
  border: 1px solid rgba(17, 17, 17, .2);
  border-radius: 6px;
  transition: border 0.3s;

  &:hover {
    border: 1px solid $green-900;
  }

  &__wrapper {
    min-height: 120px;
    padding: 13px 14px 6px 11px;
    display: flex;
    justify-content: space-between;
  }

  &__status {
    &--avilible {
      color: $green-900;
    }

    &--not-avilible {
      color: $silver-600;
    }

    &--ends {
      color: $red-900;
    }
  }

  &__holder {
    display: flex;
    justify-content: space-between;
  }

  &__price-holder {
    max-width: 119px;
  }

  &__new-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
  }

  &__old-price {
    position: relative;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $silver-600;

    &::before {
      position: absolute;
      content: "";
      width: 45px;
      height: 1px;
      background-color: #c1c1c1;
      bottom: 6px;
      left: 0;
      transform: rotate(-14.99deg);
    }
  }

  &__symbol {
    font-size: 13px;
    height: 10px;
  }

  &__old {
    position: relative;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $silver-600;

    &::before {
      position: absolute;
      content: "";
      width: 45px;
      height: 1px;
      background-color: #c1c1c1;
      bottom: 6px;
      left: 0;
      transform: rotate(-14.99deg);
    }
  }

  &__picture {
    padding-right: 5px;
    text-align: left;
    position: relative;
    min-width: 110px;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  &__texts {
    display: flex;
    padding: 1px 0px 1px 3px;
    flex-direction: column;
    justify-content: center;
    min-width: 164px;
    text-align: left;
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: auto;
    @include overflow(3);
  }
}

.products-card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 10px 0 10px;
  display: block;
  max-width: 300px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border 0.3s;

  @include media-w($sm) {
    max-width: 250px;
  }

  @include media-w($xs) {
    padding: 12px 0px 12px 0px;
  }

  &--related {
    max-width: 300px;

    @include media-w($sm) {
      max-width: 210px;
    }

    @include media-w($xs) {
      max-width: 170px;
    }
  }

  &__stat {
    position: absolute;
    bottom: 119px;
    height: 29px;
    width: 100%;
  }

  &__raiting {
    position: absolute;
    top: 6px;
    right: 38px;
    display: none;

    @include media-w($xs) {
      font-size: 10px;
      line-height: 1;
      top: -22px;
      right: 30px;
    }

    &--list {
      display: block;
    }

    &::after {
      content: "";
      position: absolute;
      right: -22px;
      top: 1px;
      width: 16px;
      height: 16px;
      background-image: url(../images/actions/star-icon.svg);

      @include media-w($xs) {
        right: -15px;
        top: -2px;
        width: 12px;
        height: 12px;
        background-size: contain;
      }
    }

  }

  & .counter {

    &--related {
      @include media-w($lg) {
        display: none;
      }
    }

    &--list {
      display: none;
    }

    @include media-w($sm) {
      margin-right: 28px;
    }

    @include media-w($xs) {
      position: absolute;
      top: 0;
      left: 32px;

      & .counter--hide {
        display: none;
      }
    }
  }

  & .counter--hide {
    @include media-w($xs) {
      display: none;
    }
  }

  & .jq-number {
    .counter__current {
      @include media-w($sm) {}
    }
  }

  & .jq-number__spin {
    @include media-w($sm) {}
  }

  &__status {
    display: none;
  }

  &__status--not-avilible {
    color: $silver-600;
  }

  &__status--ends {
    color: $red-900;
  }

  &__status--avilible {
    color: $green-900;
  }

  &__inner {
    max-width: 66px;
    margin-right: auto;
  }

  &__badge {
    margin-bottom: 5px;
  }

  &__counter {
    margin-bottom: 5px;
    margin-right: -80px;

  }

  &:hover {
    border: 1px solid $green-900;
  }

  &__link {
    &::before {
      position: absolute;
      content: '';
      width: 298px;
      height: 215px;
      top: 65px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $dark-910;
      z-index: 9;
      transition: 0.3s;
      transform: translateX(-100%);

      @include media-w($xs) {
        height: 127px;
      }

    }

    &::after {
      position: absolute;
      content: '';
      width: 48px;
      height: 48px;
      top: 147px;
      right: 125px;
      border-radius: 50%;
      background-color: $white;
      transition: 0.3s;
      transform: translateX(-500%);
      background-image: url(../images/products/icon-search.svg);
      background-repeat: no-repeat;
      background-position: center;
      z-index: 9;

      @include media-w($sm) {
        right: 93px;
      }

      @include media-w($xs) {
        top: 111px;
        right: 56px;
      }
    }

    &:hover::before {
      transform: translateX(0%);
    }

    &:hover::after {
      transform: translateX(0%);
    }
  }

  &__heart {
    position: relative;
    padding: 0px 11px 0px 11px;
    margin: 0 auto;
    width: 100%;
    min-height: 60px;

    @include media-w($xs) {
      min-height: 45px;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__heart-btn {
    border: none;
    background-color: transparent;
    padding: 7px;
    position: absolute;
    top: -3px;
    right: 3px;
    transition: fill 0.3s;

    @include media-w($xs) {
      padding: 5px;
    }

    &:hover path {
      fill: $yellow-900;
    }
  }

  &__image {
    padding: 15px;
    object-fit: contain;

    @include media-w($xs) {
      padding: 0;
      width: 170px;
      height: 120px;
    }
  }

  &__commodity {
    text-align: left;
    display: block;
    min-height: 60px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $dark-900;
    margin: 6px 18px;
    @include overflow(3);

    @include media-w($xs) {
      margin: 17px 10px 12px 9px;
      min-height: 62px;
    }
  }

  &__text {
    margin: 5px 18px;
    text-align: left;

    @include media-w($sm) {
      margin: -7px 6px 1px 11px;
    }
  }

  &__price-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include media-w($xs) {
      max-width: 145px;
      position: relative;
      height: 69px;
    }

    &--list {
      position: absolute;
      min-width: 229px;
      bottom: 10px;
      left: 218px;
    }
  }

  &__price {
    position: relative;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;

    &--old {
      display: block;
      line-height: 1;
      letter-spacing: 0.03em;
      color: $silver-600;
      position: relative;
      margin-bottom: 3px;

      &::before {
        position: absolute;
        content: '';
        width: 45px;
        height: 1px;
        background-color: $silver-600;
        bottom: 6px;
        left: 0;
        transform: rotate(-14.99deg);
      }
    }
  }

  &__cart {
    position: relative;
    border: none;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 3px;
    background-color: $green-900;

    &::before {
      position: absolute;
      content: '';
      width: 45px;
      height: 45px;
      left: -7px;
      top: -7px;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
      border-radius: 3px;
    }

    &:hover {
      background-color: $hover-1000;
    }

    &:active {
      box-shadow: inset 0px 4px 4px $dark-925;
      color: $dark-400;
    }
  }

  &__wrapper {
    min-height: 120px;
    padding: 13px 14px 6px 11px;
    display: flex;
    justify-content: space-between;
  }

  &__texts {
    display: flex;
    padding: 1px 0px 1px 3px;
    flex-direction: column;
    justify-content: center;
    min-width: 164px;
    text-align: left;
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: auto;
    @include overflow(3);
  }

  &__holder {
    display: flex;
    justify-content: space-between;
  }

  &__price-holder {
    max-width: 119px;
  }

  &__new-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
  }

  &__symbol {
    font-size: 13px;
    height: 10px;
  }

  &__old {
    position: relative;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $silver-600;

    &::before {
      position: absolute;
      content: "";
      width: 45px;
      height: 1px;
      background-color: #c1c1c1;
      bottom: 6px;
      left: 0;
      transform: rotate(-14.99deg);
    }
  }

  &__picture {
    text-align: left;
    position: relative;
    min-width: 110px;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}

.products-card--list {
  padding: 3px 0px 10px 0px;
  min-height: 162px;
  position: relative;
  max-width: 466px;
  width: 100%;

}

.products-card__image--list {
  position: absolute;
  width: 200px;
  height: 144px;
  top: 0px;
  left: 0px;
  padding: 1px;
  object-fit: contain;
  z-index: -1;
}

.products-card__commodity--list {
  max-width: 178px;
  position: absolute;
  top: 32px;
  left: 200px;
  text-align: left;
  display: block;
  min-height: 60px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: .03em;
  color: #121212;
  @include overflow(3);

  &__link {
    color: inherit;
  }
}

.products-card__status--list {
  display: block;
  position: absolute;
  top: 4px;
  left: 216px;
}

.products-card__stat--left {
  display: block;
  position: absolute;
  top: 8px;
  left: 19px;

  @include media-w($xs) {
    top: -30px;
    left: 11px;
  }
}

.products-card__heart-btn--list {
  top: 53px;
  right: 11px;

  &:hover path {
    fill: $yellow-800;
  }
}

.products-card__link--list {
  &::before {
    position: absolute;
    content: '';
    width: 201px;
    height: 147px;
    top: 7px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dark-910;
    z-index: 9;
    transition: 0.3s;
    transform: translateX(-100%);
  }

  &::after {
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    top: 92px;
    right: 281px;
    border-radius: 50%;
    background-color: $white;
    transition: 0.3s;
    transform: translateX(-500%);
    background-image: url(../images/products/icon-search.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9;
  }
}