.catalog {
  padding: 48px 0 73px 0;
  background-color: $white;

  &__title {
    font-family: 'Signika',
      'Open Sans',
      sans-serif;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }

  &__inner {
    display: flex;
  }

  &__filters {
    width: 300px;
    margin-right: 30px;
  }
}

.filter {
  &__point {
    border: 1px solid $silver-600;
    background-color: $white;
    border-radius: 6px;
  }

  &__point:not(:last-child) {
    margin-bottom: 30px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 19px 9px 18px;
    border-bottom: 1px solid $silver-600;
  }

  &__title {
    font-family: 'Signika',
      'Open Sans',
      sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $dark-900;
  }

  &__btn {
    position: relative;
    border: none;
    background-color: transparent;
    width: 45px;
    height: 45px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-image: url(../images/filter/chevron-up.svg);
      @extend %bg-center-contain;
    }
  }

  &__list {
    padding: 18px 9px 18px 16px;
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__link {
    padding: 12px 0 11px 0;
    font-size: 18px;
    line-height: 1.3;
  }
}

.filter-proposal {
  &__box {
    padding-left: 36px;
    position: relative;
    display: block;
    cursor: pointer;
  }

  &__custom {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid $silver-600;
    border-radius: 3px;
    top: 0;
    left: 0;
  }

  &__custom::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 6px;
    left: 6px;
    background-image: url(../images/filter/check.svg);
    @extend %bg-center-contain;
    z-index: 99;
    display: none;
  }

  &__check {
    position: absolute;
    width: 0;
    height: 0;
  }

  &__check:focus+&__custom {
    border: 2px solid $green-900;
  }

  &__check:checked+&__custom::before {
    display: block;
  }

  &__text {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.filter-price {
  &__form {
    padding: 18px 18px 17px 18px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120px;
  }

  &__range {
    max-width: 18px;
    font-family: 'Signika', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $silver-600;
    letter-spacing: 0.03em;
    margin-right: 6px;
  }

  &__currency {
    font-size: 16px;
    line-height: 1;
    color: $silver-600;
  }

  &__currency:not(:last-child) {
    margin-right: 24px;
  }

  &__from,
  &__to {
    min-width: 80px;
    height: 40px;
    padding: 12px 25px;
    color: #505050;
    font-family: "Lato",
      sans-serif;
    font-size: 16px;
    line-height: 1;
    text-shadow: none;
    background-color: #f6f6f6;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    margin-right: 6px;
  }
}

.catalog-content {
  max-width: 960px;
  width: 100%;

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 385px;
    margin-left: auto;
    margin-bottom: 48px;
  }

  &__selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;

  }

  &__name {
    padding: 15px 43px 15px 15px;
    max-width: 149px;
    border: 1px solid $silver-600;
    border-radius: 3px;
    margin-right: 15px;
    font-family: "Lato", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }

  &__number {
    padding: 15px 43px 15px 17px;
    border: 1px solid $silver-600;
    max-width: 99px;
    border-radius: 3px;
    margin-right: 2px;
    font-family: "Lato", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }

  /*:::::::::::::::::::::::Select::::::::::::::::::::::::::*/
  .jq-selectbox__select {
    height: 16px;
    padding: 0 0 0 0;
    border: none;
    background: transparent;
    background: transparent;
    box-shadow: none;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: $dark-500;
    text-shadow: none;

    &:hover {
      background: transparent;
    }
  }

  .jq-selectbox__trigger {
    border-left: none;
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 2px;
    right: -31px;
    width: 10px;
    height: 10px;
    border: none;
    background-image: url(../images/filter/chevron-select.svg);
    @extend %bg-center-contain;
  }

  /*:::::::::::::::::::::::Select-finish::::::::::::::::::::*/

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    width: 47px;
    height: 47px;
    border: none;
    border-radius: 3px;
    line-height: 0px;
    background-color: $silver-100;

    &:first-child {
      margin-right: 15px;
    }

    &--active path {
      fill: $green-900;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    grid-gap: 30px;
    margin-bottom: 45px;

    @include media-w($xl) {
      align-items: auto;
    }

    @include media-w($md) {
      grid-template-columns: repeat(2, 1fr);
      align-self: auto;
      grid-auto-rows: 409px;
    }

    @include media-w($xs) {
      grid-auto-rows: auto;
      grid-gap: 5px;
      margin-bottom: 23px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
  }
}

/*:::::::::::::::::::::::Ползунок цены::::::::::::::::::::::::::*/
.irs--flat .irs-line {
  top: 30px;
  height: 2px;
  background-color: $silver-700;
  border-radius: 4px;
}

.irs--flat .irs-bar {
  top: 30px;
  height: 2px;
  background-color: $green-900;
}

.irs--flat .irs-handle>i:first-child {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: -1px;
  background-color: $green-900;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $green-200;
  }
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
  padding: 12px 20px;
  color: $dark-500;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1;
  text-shadow: none;
  background-color: $silver-100;
  border: 1px solid #C1C1C1;
  border-radius: 3px;
  top: -54px;
}

.irs--flat .irs-from {
  left: 10px;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
}

/*:::::::::::::::::::::::Ползунок цены-finish::::::::::::::::::::*/