html,
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  background-color: $white;
  color: $dark-500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  overflow-y: scroll;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: 'Signika',
    'Open Sans',
    sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-900;
  @include overflow(2);

  @include media-w($xs) {
    font-weight: 700;
    font-size: 24px;
  }
}

/*:::::::::::::::::::::::pagination::::::::::::::::::::::::::*/
.pagination {
  display: flex;
  justify-content: center;

  @include media-w($sm) {
    margin-top: 24px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__arrows {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: $silver-100;
    border-radius: 3px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: $silver-100;
    border-radius: 3px;
    font-size: 18px;
    line-height: 1;

    &--active {
      border: 1px solid $dark-500;
    }
  }

  &__item:nth-child(2) {
    @include media-w($sm) {
      display: none;
    }
  }

  &__item:nth-child(4) {
    @include media-w($sm) {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 5px;
  }

  &__prev {
    margin-right: 5px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 39%;
      transform: translateY(-50%);
      width: 10px;
      height: 18px;
      background-image: url(../images/pagination/chevron-left.svg);
      @extend %bg-center-contain;
    }
  }

  &__next {
    margin-left: 5px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 39%;
      transform: translateY(-50%);
      width: 10px;
      height: 18px;
      background-image: url(../images/pagination/chevron-right.svg);
      @extend %bg-center-contain;
    }
  }
}

/*:::::::::::::::::::::::pagination-finish:::::::::::::::::::*/