html,
body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  background-color: $white;
  color: $dark-500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  &__img {
    object-fit: contain;

    @include media-w($md) {
      display: none;
    }
  }

  &__footer {
    display: block;
    margin-bottom: 23px;
  }

  &__short {
    display: none;

    @include media-w($md) {
      display: block;
    }

    @include media-w($sm) {
      display: none;
    }

    @include media-w($xs) {
      display: block;
    }
  }
}

.burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
  z-index: 15;
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: none;

  @include media-w($sm) {
    display: block;
  }

  &::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 45px;
    top: 0;
    left: 0;
  }

  &__part {
    position: relative;
    width: 30px;
    height: 2px;
    background-color: $white;
    display: block;
    position: relative;
    transition: transform 0.5s;

    &--active {
      background-color: transparent;
    }
  }

  &__part::before,
  &__part::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    left: 0;
    transition: transform 0.5s;
  }

  &__part::before {
    top: 10px;

    &--active {
      transform: rotate(45deg);
      top: 0;
    }
  }

  &__part::after {
    bottom: 10px;

    &--active {
      transform: rotate(-45deg);
      bottom: 0;
    }
  }
}


.mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $white;
  max-width: 300px;
  width: 100%;
  z-index: 99;
  color: $dark-800;
  display: none;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 26px 26px 15px;
    width: 100%;
    height: 112px;
  }

  &__close {
    padding: 14px 0;
    border: none;
    background-color: transparent;
  }

  &__entrance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 56px 7px 30px;
    height: 48px;
    width: 100%;
    background-color: $green-900;
    color: $white;
  }

  &__user {
    padding: 7px 0;
    border: none;
    background-color: transparent;
  }

  &__registry {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    @include overflow($row);
  }

  &__catalog {
    padding: 14px 31px 15px 30px;
    border-bottom: 1px solid $silver-300;
  }

  &__goods {
    position: relative;
    height: 20px;
    padding: 0 2px 0 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    @include overflow($row);

    &::before {
      position: absolute;
      content: '';
      width: 25px;
      height: 45px;
      top: -13px;
      left: 0px;
      background-image: url(../images/mobile-menu/icons/nav_icon.svg);
      @extend %bg-center-contain;
      cursor: pointer;
    }
  }
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-900;
  @include overflow($row-2);
}

.btn-green {
  display: inline-block;
  padding: 12px 26px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  background-color: $green-900;
  color: $white;
  transition: background-color 0.3s,
    box-shadow 0.3s,
    color 0.3s;

  &:focus {
    box-shadow: 0px 0px 0px 4px $green-200;
  }

  &:hover {
    background-color: $hover-1000;
  }

  &:active {
    box-shadow: inset 0px 4px 4px $dark-925;
    color: $dark-400;
  }
}

.btn-transparent {
  margin-bottom: 70px;
  border: 1px solid $green-900;
  background-color: $white;
  color: $green-900;
  transition: background-color 0.3s,
    box-shadow 0.3s;

  &:focus {
    box-shadow: 0px 0px 0px 4px $green-200;
  }

  &:hover {
    background-color: $green-100;
  }

  &:active {
    box-shadow: inset 0px 10px 4px $dark-910;
  }
}

.mix-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 49px;
  font-weight: 700;
  font-size: 15px;

  &__item {
    max-width: 101px;
  }

  &__item:not(:last-child) {
    margin-right: 28px;
  }

  &__btn {
    max-width: 120px;
    border: none;
    border-bottom: 3px solid transparent;
    padding: 21px 0 0 0;
    background-color: inherit;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.4;
    text-transform: uppercase;
    transition: border-bottom 0.3s;
    @include overflow($row);
    transition: border-bottom 0.3s;

    &:active {
      border-bottom: $hover-1000;
    }

    &:hover {
      border-bottom: 3px solid $green-900;
    }
  }

  .mixitup-control-active {
    border-bottom: 3px solid #e0edcf;
  }
}

.mini-card {
  padding: 0;
  background-color: $white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: block;
  max-width: 300px;
  border: 1px solid rgba(17, 17, 17, .2);
  border-radius: 6px;
  transition: border .3s;

  &__wrapper {
    min-height: 120px;
    padding: 13px 14px 6px 11px;
    display: flex;
    justify-content: space-between;
  }
}

.products-card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 10px 0 10px;
  display: block;
  max-width: 300px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border 0.3s;

  &__inner {
    max-width: 66px;
    margin-right: auto;
  }

  &__badge {
    margin-bottom: 5px;
  }

  &__counter {
    margin-bottom: 5px;
    margin-right: -80px;
  }

  &:hover {
    border: 1px solid $green-900;
  }

  &__link {
    &::before {
      position: absolute;
      content: '';
      width: 298px;
      height: 215px;
      top: 65px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $dark-910;
      z-index: 99;
      background-image: url(../images/products/icon-search.svg);
      background-repeat: no-repeat;
      background-position: center;
      transition: 0.3s;
      transform: translateX(-100%);
    }

    &::after {
      position: absolute;
      content: '';
      width: 48px;
      height: 48px;
      top: 147px;
      right: 125px;
      border-radius: 50%;
      background-color: $white;
      transition: 0.3s;
      transform: translateX(-500%);
    }

    &:hover::before {
      transform: translateX(0%);
    }

    &:hover::after {
      transform: translateX(0%);
    }
  }

  &__heart {
    position: relative;
    padding: 0px 11px 0px 11px;
    margin: 0 auto;
    width: 100%;
    min-height: 60px;
  }

  &__wrapper {
    position: relative;
  }

  &__heart-btn {
    border: none;
    background-color: transparent;
    padding: 7px;
    position: absolute;
    top: -3px;
    right: 3px;
    transition: fill 0.3s;

    &:hover path {
      fill: $yellow-900;
    }
  }

  &__image {
    padding: 15px;
    object-fit: cover;
  }

  &__commodity {
    text-align: left;
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $dark-900;
    height: 60px;
    margin: 6px 18px;
    @include overflow($row-3);
  }

  &__text {
    margin: 5px 18px;
    width: 264px;
    text-align: left;
  }

  &__price-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price {
    position: relative;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;

    &--old {
      display: block;
      line-height: 1;
      letter-spacing: 0.03em;
      color: $silver-600;
      position: relative;
      margin-bottom: 3px;

      &::before {
        position: absolute;
        content: '';
        width: 45px;
        height: 1px;
        background-color: $silver-600;
        bottom: 6px;
        left: 0;
        transform: rotate(-14.99deg);
      }
    }
  }

  &__cart {
    position: relative;
    border: none;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 3px;
    background-color: $green-900;

    &::before {
      position: absolute;
      content: '';
      width: 45px;
      height: 45px;
      left: -7px;
      top: -7px;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
      border-radius: 3px;
    }

    &:hover {
      background-color: $hover-1000;
    }

    &:active {
      box-shadow: inset 0px 4px 4px $dark-925;
      color: $dark-400;
    }
  }

  &__wrapper {
    min-height: 120px;
    padding: 13px 14px 6px 11px;
    display: flex;
    justify-content: space-between;
  }

  &__texts {
    display: flex;
    padding: 1px 0px 1px 3px;
    flex-direction: column;
    justify-content: center;
    min-width: 164px;
    text-align: left;
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: auto;
    @include overflow($row-3);
  }

  &__status {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__status--avilible {
    color: $green-900;
  }

  &__status--not-avilible {
    color: $silver-600;
  }

  &__status--ends {
    color: $red-900;
  }

  &__holder {
    display: flex;
    justify-content: space-between;
  }

  &__price-holder {
    max-width: 119px;
  }

  &__new-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
  }

  &__symbol {
    font-size: 13px;
    height: 10px;
  }

  &__old {
    position: relative;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $silver-600;

    &::before {
      position: absolute;
      content: "";
      width: 45px;
      height: 1px;
      background-color: #c1c1c1;
      bottom: 6px;
      left: 0;
      transform: rotate(-14.99deg);
    }
  }

  &__picture {
    text-align: left;
    position: relative;
    min-width: 110px;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}

.badge {
  display: block;
  padding: 3px 6px;
  border-radius: 6px;
  color: $white;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-height: 16px;
  z-index: 8;

  &--green {
    background-color: $green-900;
  }

  &--absolute {
    position: absolute;
  }

  &--red {
    max-width: 37px;
    background-color: $red-900;
  }

  &--orange {
    position: absolute;
    max-width: 37px;
    background-color: $orange-900;
  }
}