.product-page {
  padding: 48px 0 0px;
  background-color: $white;

  @include media-w($lg) {
    position: relative;
    padding: 122px 0 0px;
  }

  &__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $silver-600;
  }
}

.product-slide {
  position: relative;

  &__arow {
    position: absolute;
    top: 249px;

    &--prev {
      border: none;
      background-color: transparent;
      position: absolute;
      top: 261px;
      left: 35px;
    }

    &--next {
      border: none;
      background-color: transparent;
      position: absolute;
      top: 261px;
      right: 35px;
    }
  }

  &__prev {
    position: absolute;
    top: 249px;

  }

  &__next {
    position: absolute;
    top: 249px;
    right: 0;
  }
}

.product-one {
  margin-bottom: 63px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($lg) {
      flex-wrap: wrap;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-family: 'Signika', 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $dark-900;

    @include media-w($lg) {
      position: absolute;
      top: 30px;
      left: 0;
    }
  }

  &__slide {
    max-width: 630px;
    padding: 69px 105px;
    border: 1px solid $silver-600;
    border-radius: 4px;
    max-height: 558px;

    @include media-w($xl) {
      max-width: 530px;
    }

    @include media-w($lg) {
      margin-bottom: 30px;
    }
  }

  &__content {
    max-width: 630px;
    width: 100%;
    min-height: 520px;
    height: 100%;

    @include media-w($xl) {
      max-width: 530px;
    }
  }

  &__status {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__identifier {
    max-width: 221px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cod {
    display: block;
    padding: 4px 5px 3px 5px;
    margin-right: 12px;
    font-size: 14px;
    line-height: 1.2;
    background-color: $silver-100;
    border-radius: 3px;
    color: $silver-600;
    letter-spacing: 0.03em;
  }

  &__presence {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;

    &--green {
      color: $green-900;
    }
  }

  &__price {
    max-width: 155px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 59px;
  }

  &__old {
    position: relative;
    margin-right: 19px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $silver-600;

    &::before {
      position: absolute;
      content: "";
      width: 55px;
      height: 2px;
      background-color: $silver-600;
      bottom: 6px;
      left: 0;
      transform: rotate(-14.99deg);

    }
  }

  &__new {
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $green-900;
  }

  &__amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
  }

  &__quantity {
    max-width: 429px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__counter {
    margin-right: 18px;
  }

  &__btn {
    padding: 16px 12px 14px 45px;
    position: relative;
    border: none;
    width: 253px;
    height: 44px;
    border-radius: 3px;
    background-color: $green-900;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: $white;
    transition: color 0.3s, box-shadow 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
      border-radius: 3px;
    }

    &:hover {
      background-color: $hover-1000;
    }

    &:active {
      box-shadow: inset 0px 4px 4px $dark-925;
      color: $dark-400;
    }
  }

  &__cart {
    position: absolute;
    top: 10px;
    left: 13px;
  }

  &__heart-btn {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__heart:hover path {
    fill: $yellow-900;
  }

  &__subtitle {
    padding-bottom: 18px;
    margin-bottom: 18px;
    font-family: 'Signika', 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $dark-900;
    border-bottom: 1px solid $silver-600;

    &--review {
      border-bottom: none;
      margin-bottom: 7px;
    }
  }

  &__list {
    margin-bottom: 18px;
  }

  &__point {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }

  &__link {
    padding: 14px 0px;
    color: $green-900;
    line-height: 1.2;
    letter-spacing: 0.03em;
    transition: border 0.3s, color 0.3s, box-shadow 0.3s;

    &:focus {
      border: 1px solid $green-200;
    }

    &:hover {
      color: $hover-1000;
    }

    &:active {
      box-shadow: 0px 0px 0px 3px rgba($green-900, 0.5);
    }
  }
}

.product-stars {
  max-width: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__star:not(:last-child) {
    margin-right: 6px;
  }
}

.counter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 158px;
  height: 44px;
  font-size: 20px;
  text-align: center;

  &__control {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: $green-900;
    color: $white;
    cursor: pointer;
    transition: color 0.3s,
      box-shadow 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
      border-radius: 3px;
    }

    &:hover {
      background-color: $hover-1000;
    }

    &:active {
      box-shadow: inset 0px 4px 4px $dark-925;
      color: $dark-400;
    }
  }

  &__minus {
    width: 29px;
    height: 2px;
    background-color: $white;
  }

  &__plus {
    position: absolute;
    width: 29px;
    height: 2px;
    background-color: $white;
    transform: rotate(90deg);
  }

  &__current {
    height: 44px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green-100;
  }
}

.product-tabs {

  &__top {
    max-width: 629px;
    margin: 0 auto;
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: block;
    border-top: solid 3px transparent;
    padding: 16px 0 3px 0;
    font-family: 'Signika', 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $dark-900;
    transition: color 0.3s,
      border-top 0.3s;

    &--active {
      position: relative;
      color: $green-900;

      &::before {
        position: absolute;
        content: '';
        top: -3px;
        left: 0;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: $green-900;
      }
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      border-top: solid 3px $green-900;
    }
  }
}