/*::::::::::::::::::::::::::top-slider:::::::::::::::::::::::::::::::::::::::::::*/
.top-slider {
  background-color: $white;

  @include media-w($md) {
    margin-bottom: -42px;
  }

  @include media-w($sm) {
    margin-bottom: -22px;
  }

  @include media-w($xs) {
    margin-bottom: 0;
  }

  &__item {
    padding: 143px 0 219px 0;
    max-height: 600px;
    @extend %bg-center-cover;

    @include media-w($xl) {
      padding: 123px 0 199px 0;
    }

    @include media-w($lg) {
      padding: 126px 0 159px 0;
    }

    @include media-w($md) {
      padding: 63px 0 139px 0;
    }

    @include media-w($sm) {
      padding: 53px 0 129px 0;
    }

    @include media-w($xs) {
      height: 320px;
      padding: 61px 0px 56px 0px;
    }

    &--one {
      background-image: url(../images/slider/slide1.jpg);
    }

    &--two {
      background-image: url(../images/slider/slide2.jpg);
    }

    &--three {
      background-image: url(../images/slider/slide3.jpg);
    }
  }

  &__content {
    max-width: 238px;
    padding: 19px 6px 29px 22px;
    background-color: $silver-250;
    border-radius: 6px;
    max-width: 853px;
    margin-bottom: 30px;
    overflow: hidden;

    @include media-w($xs) {
      margin-left: -23px;
      margin-right: -23px;
      padding: 15px 6px 17px 19px;
      margin-bottom: 15px;
    }

    &--two {
      max-width: 804px;
    }

    &--three {
      max-width: 867px;
    }

    p {
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0.3px;
      @include overflow(2);
    }
  }

  &__title {
    font-family: 'Signika',
      'Open Sans',
      sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 2px;
    @include overflow(2);

    @include media-w($md) {
      font-size: 50px;
    }

    @include media-w($sm) {
      font-size: 34px;
    }

    @include media-w($xs) {
      font-size: 20px;
    }
  }

  &__text {
    display: block;
    margin-bottom: 10px;
    font-family: 'Signika',
      'Open Sans',
      sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $red-900;
    @include overflow($row);

    @include media-w($md) {
      font-size: 50px;
    }

    @include media-w($sm) {
      font-size: 34px;
    }

    @include media-w($xs) {
      margin-bottom: 14px;
      font-size: 20px;
    }
  }

  &__action {
    max-height: 65px;
    @include overflow(2);
  }

  .slick-arrow {
    &:focus {
      background-color: $green-200;
      border: 1px solid $green-900;
      box-shadow: 0px 0px 0px 3px rgba($green-900, 0.5);
    }

    &:hover {
      background-color: $green-200;
      border: 1px solid $green-900;

      .slick-img {
        display: none;
      }

      .slick-img-green {
        display: block;
      }
    }

    &:focus {
      background-color: $green-200;
      border: 1px solid $green-900;
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 14px 20px;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    z-index: 9;

  }

  .slick-prev {
    left: 60px;

  }

  .slick-next {
    right: 60px;
  }
}

.slick-dots {
  position: absolute;
  bottom: 60px;
  right: 50%;
  transform: translateX(-50%);
  display: flex;

  @include media-w($xl) {
    bottom: 80px;
    right: 44%;
  }

  @include media-w($md) {
    bottom: 80px;
    right: 37%;
  }

  @include media-w($sm) {
    bottom: 60px;
  }

  @include media-w($xs) {
    bottom: 16px;
  }

  & button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $silver-600;
    background-color: $white;
    font-size: 0;
    padding: 0;

    @include media-w($sm) {
      width: 10px;
      height: 10px;
    }
  }

}

.slick-dots li:not(:last-child) {
  margin-right: 12px;
}

.slick-active button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $silver-600;
  background-color: $green-900;
  font-size: 0;
  padding: 0;

  @include media-w($sm) {
    width: 10px;
    height: 10px;
  }
}


.slick-img-green {
  display: none;
}

/*::::::::::::::::::::::::::top-slider-finish::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::partner-slider:::::::::::::::::::::::::::::::::::::::*/
.partners-slider {
  padding-top: 65px;

  @include media-w($xs) {
    padding-top: 45px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 65px;

    @include media-w($xs) {
      margin-bottom: 42px;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    width: 80px;
    text-align: center;

    &__slide:not(:last-child) {
      margin-right: 37px;
    }
  }

  &__img {
    display: inline-block;
    width: 100%;
    padding: 7px 0;
    transition: opacity 0.3s;
    max-height: 59px;
    object-fit: contain;

    &:hover {
      opacity: 0.5;
    }
  }
}

/*::::::::::::::::::::::::::partner-slider-finish:::::::::::::::::::::::::::::::::*/