/*::::::::::::::::::::::::::цвета:::::::::::::::::::::::::::::::::::::::::::::::*/
$green-900:#63a60e;
$green-200:#e0edcf;
$green-100:#eff6e7;
$hover-1000:#4d810c;

$dark-1000:#000000;
$dark-925:#00000040;
$dark-911:#ffffff1a;
$dark-910:rgba($dark-1000, 0.1);
$dark-920:rgba(133, 98, 98, 0.102);
$dark-900:#121212;
$dark-810:rgba(99, 166, 14, 0.1);
$dark-800:#31352b;
$dark-500:#505050;
$dark-400:#ffffff80;

$red-900:#cf3e3b;

$orange-900:#ff7a00;

$yellow-900:#ffb800;
$yellow-800: #f3df23;

$silver-700:#c4c4c4;
$silver-600:#c1c1c1;
$silver-100:#f6f6f6;
$silver-150: #4f4f4f;
$silver-200:rgb(245, 245, 245);
$silver-250:rgba(255, 255, 255, 0.8);
$silver-300:rgba($silver-600, 0.3);

$white:rgb(255, 255, 255);
/*::::::::::::::::::::::::::цвета-finish::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::переменные::::::::::::::::::::::::::::::::::::::::::*/
$row: 1;
$row-2:2;
$row-3:3;
$row-10:10;
/*::::::::::::::::::::::::::переменные-finish:::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::mixins::::::::::::::::::::::::::::::::::::::::::::::*/

@mixin overflow($row) {
  -webkit-line-clamp: $row;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*::::::::::::::::::::::::::mixins-finish::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::обои::::::::::::::::::::::::::::::::::::::::::::::::*/
%bg-left {
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

%bg-center-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

%bg-center-contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*::::::::::::::::::::::::::обои-finish:::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::брекпоинты::::::::::::::::::::::::::::::::::::::::::*/
$xl: 1440px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$smm: 525px;
$xs: 480px;
$xxs: 350px;

/*::::::::::::::::::::::::::брекпоинты-finish:::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::миксин для брейкпоинтов:::::::::::::::::::::::::::::*/
@mixin media-w($w) {
  @media only screen and (max-width: $w) {
    @content;
  }
}

/*::::::::::::::::::::::::::миксин для брейкпоинтов-finish::::::::::::::::::::::*/