@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

/*::::::::::::::::::::::::::header:::::::::::::::::::::::::::::::::::::::::::::::*/
.header {
  color: $white;

  &__top {
    padding: 17px 0;
    background-color: $dark-800;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1282px;
  }
}

.hot-line {
  max-width: 465px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__address {
    font-style: normal;
  }

  &__item {
    position: relative;
  }

  &__link {
    position: relative;
    padding: 15px 1px 15px 44px;
    transition: opasity 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__img {
    position: absolute;
    top: 10px;
    left: 5px;
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }
}

.news {
  max-width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 28px;
  }

  &__link {
    padding: 15px 0;
    transition: opasity 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.header__list {
  position: relative;
  margin-right: 6px;
  display: block;
  width: 240px;
  padding: 15px 45px 15px 61px;
  height: 50px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: $green-900;
  @include overflow($row);

  &::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 4px;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    background-image: url(../images/header-icons/shevron-down.svg);
    @extend %bg;
  }

  &::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 17px;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    background-image: url(../images/header-icons/nav_icon.svg);
    @extend %bg;
  }
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 576px;

  &__input {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px 226px 15px 55px;
    border: none;
    border: none;
    border-radius: 6px 0px 0px 6px;
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.2);
    max-width: 420px;
  }

  &__search-icon {
    border: none;
    background-color: transparent;
    position: absolute;
    width: 34px;
    height: 45px;
    top: 50%;
    left: 276px;
    transform: translateY(-50%);
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      padding: 23px;
      top: 15px;
      left: -259px;
      width: 20px;
      height: 20px;
      background-image: url(../images/header-icons/icon-search.svg);
      background-repeat: no-repeat;
    }
  }

  &__search {
    display: inline-block;
    padding: 15px 52px;
    background-color: $dark-800;
    color: $white;
    border: transparent;
    text-transform: uppercase;
    border-radius: 0px 6px 6px 0px;
    letter-spacing: 0.03em;
    transition: background-color 0.3s;

    &:focus {
      outline-color: transparent;
      box-shadow: 0px 0px 0px 4px $dark-active;
    }

    &:hover {
      background-color: $dark-500;
    }

    &:active {
      color: $silver-600;
    }
  }
}

.header-roster {
  max-width: 190px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__item {
    position: relative;
  }

  &__link {
    display: inline-block;
    text-align: center;
    padding: 8px;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $dark-hover;
    }
  }

  &__num {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    padding: 3px;
    border-radius: 50%;
    background-color: $white;
    font-weight: 600;
    font-size: 10px;
    color: $red-900;
  }
}

/*::::::::::::::::::::::::::header-finish::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::top-slider:::::::::::::::::::::::::::::::::::::::::::*/
.top-slider {
  background-color: $white;

  &__item {
    padding: 143px 0 219px 0;
    max-height: 600px;
    @extend %bg1;
  }

  &__content {
    padding: 19px 6px 26px 22px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 6px;
    max-width: 853px;
    margin-bottom: 30px;

    &--two {
      max-width: 804px;
    }

    &--three {
      max-width: 867px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0.3px;
      @include overflow($row-2);
    }
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 2px;
    @include overflow($row-2);
  }

  &__span {
    display: block;
    margin-bottom: 7px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $red-900;
    @include overflow($row);
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 14px 20px;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    z-index: 9;
  }

  .slick-prev {
    left: 60px;
  }

  .slick-next {
    right: 60px;
  }

}

/*::::::::::::::::::::::::::top-slider-finish::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::support::::::::::::::::::::::::::::::::::::::::::::::*/
.support {
  padding: 48px 0;
  background-color: $silver-100;

  &__list {
    max-width: 924px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    position: relative;
    padding-left: 74px;
    width: 275px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      z-index: 5;
    }

    &--scooter::before {
      background-image: url(../images/support/scooter.svg);
      @extend %bg2;
    }

    &--return::before {
      background-image: url(../images/support/return-box.svg);
      @extend %bg2;
    }

    &--24::before {
      background-image: url(../images/support/24-hours.svg);
      @extend %bg2;
    }
  }

  &__title {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    margin-bottom: 6px;
    @include overflow($row-2);

  }

  &__text {
    display: block;
    max-width: 201px;
    font-size: 14px;
    line-height: 1.4;
    @include overflow($row-2);
  }
}

/*::::::::::::::::::::::::::support-finish:::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::top-products:::::::::::::::::::::::::::::::::::::::::*/
.top-products {
  padding: 67px 0 69px;
  text-align: center;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
  }
}

.info {
  display: flex;
  justify-content: space-between;

  &__item {
    min-width: 300px;
    min-height: 300px;
    padding: 75px 32px;
    border-radius: 4px;
    @extend %bg1;
    text-align: left;
  }

  .info-card {
    &__title {
      font-weight: 700;
      font-size: 12px;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 18px;
      letter-spacing: 0.1em;
    }

    &__text {
      font-family: 'Signika', sans-serif;
      font-weight: 600;
      font-size: 30px;
      line-height: 1.4;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    &__link {
      padding-bottom: 6px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1;
      text-transform: uppercase;
      border-bottom: 2px solid;
    }
  }

  &__item--long {
    max-width: 630px;
    width: 100%;
    color: $white;
    text-shadow: 1px 1px 0px $box-shadov-active;
  }
}

/*::::::::::::::::::::::::::top-products-finish::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::actions::::::::::::::::::::::::::::::::::::::::::::::*/
.actions {
  padding: 72px 0;
  background-color: $silver-200;
  text-align: center;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 53px;
  }

  &__img {
    margin-right: 0;
    z-index: -2;
  }

  &__novelty {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 66px;
    padding: 3px 6px;
    border-radius: 6px;
    background-color: $green-900;
    color: #fff;
    z-index: 2;
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__old-price {
    position: relative;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $silver-600;

    &::before {
      position: absolute;
      content: "";
      width: 45px;
      height: 1px;
      background-color: #c1c1c1;
      bottom: 6px;
      left: 0;
      transform: rotate(-14.99deg);
    }
  }

  &__raiting {
    position: relative;
    padding-right: 20px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 16px;
      height: 16px;
      background-image: url(../images/actions/star-icon.svg);
      @extend %bg1;
    }
  }
}

/*::::::::::::::::::::::::::actions-finish:::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::blogs::::::::::::::::::::::::::::::::::::::::::::::::*/
.blogs {
  padding: 67px 0 73px;
  background-color: $white;

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__item {
    flex-basis: 410px;
  }

  &__link {
    max-height: 25px;
    padding-bottom: 6px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid $green-900;
    color: $green-900;
    letter-spacing: 0.7px;
    transition: color 0.3s,
      border-bottom 0.3s;

    &:hover {
      color: $hover-green;
      border-bottom: 2px solid $hover-green;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    display: block;
    min-height: 353px;
    box-shadow: 0px 3px 3px $box-shadov-active;
    border-radius: 6px;
    color: $dark-900;
    transition: color 0.3s;

    &:hover {
      .blogs__text {
        color: $green-900;
      }
    }
  }

  &__picture {
    max-width: 410px;
    min-height: 240px;
    position: relative;
  }

  &__date {
    position: absolute;
    text-align: center;
    top: 0;
    left: 20px;
    padding: 18px 6px 10px 6px;
    width: 65px;
    min-height: 76px;
    background-color: $white;
    border-radius: 0px 0px 4px 4px;
    z-index: 2;
    text-align: center;
  }

  &__month {
    display: block;
    margin: 0 auto 6px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__num {
    display: block;
    text-align: center;
    max-width: 33px;
    margin: 0 auto;
    font-family: 'Signika';
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
  }

  &__text {
    padding: 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
  }
}

.partners-slider {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 65px;

  }

  &__slide:not(:last-child) {
    margin-right: 37px;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    width: 80px;
    text-align: center;
  }

  &__img {
    display: inline-block;
    width: 100%;
    padding: 7px 0;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }

}

/*::::::::::::::::::::::::::blogs-finish:::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::footer:::::::::::::::::::::::::::::::::::::::::::::::*/
.footer {
  padding: 32px 0 19px;
  background-color: $dark-800;
  color: $white;
  line-height: 1.4;

  &__logo-wrapper {
    margin-bottom: 23px;
  }

  &__top {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(133, 98, 98, 0.1);

    &-wrapper {
      min-width: 462px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .footer__top-address {
      font-style: normal;
    }

    &-item {
      max-width: 203px;
    }

    &-list-item {
      margin-bottom: -7px;

      &:last-child {
        margin-bottom: -3px;
      }
    }

    &-list-link {
      padding: 7px 0 19px 0;
      display: inline-block;
      width: 100%;
      font-size: 14px;
      line-height: 1.4;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }

    &-item--form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 300px;
    }

    .subscribe-form {
      margin-top: -8px;

      &__label {
        line-height: 3;
      }

      &__input {
        max-width: 182px;
        padding: 12px 13px;
        border-radius: 6px 0px 0px 6px;
        background-color: $white;
        line-height: 1;
        color: #4f4f4f;
        position: relative;
        z-index: 1;
        margin-right: -3px;
      }

      &__btn {
        display: inline-block;
        border: 4px solid transparent;
        border-radius: 0px 6px 6px 0px;
        max-width: 118px;
        padding: 11px 11px 11px 10px;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.1;
        text-transform: uppercase;
        background-color: $green-900;
        color: $white;
        position: relative;

        &:focus {
          border: 4px solid $green-200;
        }

        &:hover {
          background-color: $hover-green;
        }

        &:active {
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: rgba(255, 255, 255, 0.5);
        }

        &::before {
          position: absolute;
          content: '';
          bottom: -5px;
          left: 0;
          width: 118px;
          height: 45px;
        }
      }
    }
  }

  &__bottom {
    padding: 14px 0 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-item:not(:last-child) {
      margin-right: 25px;
    }

    &-img {
      width: 100%;
    }

    &-copy {
      text-transform: uppercase;
    }
  }
}

.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    padding: 14px 0;
    transition: opasity 0.3s;

    &:hover path {
      fill: rgba(255, 255, 255, 0.7);
    }
  }
}

/*::::::::::::::::::::::::::footer-finish::::::::::::::::::::::::::::::::::::::::*/