@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

@import 'cards';
@import 'components';
@import 'sliders';


/*::::::::::::::::::::::::::header:::::::::::::::::::::::::::::::::::::::::::::::*/
.header {
  color: $white;

  &__top {
    position: relative;
    padding: 17px 0;
    background-color: $dark-800;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    @include media-w($xs) {
      padding: 6px 0;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($sm) {
      flex-direction: row-reverse;
    }
  }

  &__text {
    @include media-w($sm) {
      display: none;
    }
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;

    @include media-w($xs) {
      padding: 2px 0;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hot-line {
    max-width: 477px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($xs) {
      max-width: 102px;
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    position: relative;
    padding: 15px 1px 15px 44px;
    transition: opasity 0.5s,
      box-shadow 0.5s,
      color 0.5s;


    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      @extend %bg-center-cover;
    }

    &--lorry::before {
      background-image: url(../images/header-icons/icon-lorry.svg);
      width: 32px;
      height: 21px;
    }

    &--tel::before {
      background-image: url(../images/header-icons/icon-tel.svg);
      width: 22px;
      height: 22px;
    }

    &:focus {
      outline-color: transparent;
      box-shadow: 0px 0px 0px 4px $dark-400;
    }

    &:hover {
      opacity: 0.7;
    }

    &--active {
      color: $green-900;
    }

  }

  &__img {
    position: absolute;
    top: 10px;
    left: 5px;
    object-fit: contain;
  }

  &__item:not(:last-child) {
    margin-right: 38px;

    @include media-w($xs) {
      margin-right: 7px;
    }
  }

  &__holder {
    position: relative;
  }

  &__list {
    position: relative;
    margin-right: 6px;
    display: block;
    max-width: 240px;
    padding: 15px 45px 15px 58px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $green-900;
    @include overflow(1);
    transition: background-color 0.3s;

    @include media-w($lg) {
      max-width: 230px;
      padding: 15px 40px 15px 50px;
    }

    @include media-w($md) {
      height: 45px;
    }

    @include media-w($sm) {
      max-width: 135px;
      padding: 15px 28px 15px 51px;
      margin-right: 0;
    }

    @include media-w($xs) {
      max-width: 160px;
      padding: 15px 50px 15px 55px;
      margin-right: 0;
    }

    &:hover {
      background-color: $green-200;
    }

    &::after {
      position: absolute;
      content: '';
      width: 7px;
      height: 4px;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
      background-image: url(../images/header-icons/shevron-down.svg);
      @extend %bg-left;
    }

    &::before {
      position: absolute;
      content: '';
      width: 25px;
      height: 17px;
      top: 50%;
      left: 17px;
      transform: translateY(-50%);
      background-image: url(../images/header-icons/nav_icon.svg);
      @extend %bg-left;
    }
  }

  &__products {
    @include media-w($sm) {
      display: none;
    }
  }
}

.news {
  max-width: 243px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-w($sm) {
    display: none;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    padding: 15px 0;
    transition: opasity 0.5s,
      box-shadow 0.5s,
      color 0.5s;

    &:focus {
      outline-color: transparent;
      box-shadow: 0px 0px 0px 4px $dark-400;
    }

    &:hover {
      opacity: 0.5;
    }

    &--active {
      color: $green-900;
    }
  }
}

.roster {
  max-width: 190px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include media-w($md) {
    max-width: 145px;
    width: auto;
  }

  @include media-w($xs) {
    max-width: 103px;
  }

  &__item {
    position: relative;
  }

  &__btn {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 8px;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    transition: background-color 0.3s;

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 10px;
      @extend %bg-center-cover;
    }

    &--search::before {
      width: 24px;
      height: 24px;
      background-image: url(../images/header-icons/big-search.svg);
    }

    &--user::before {
      width: 25px;
      height: 32px;
      background-image: url(../images/header-icons/user-link.svg);
    }

    &--favorite::before {
      width: 34px;
      height: 31px;
      background-image: url(../images/header-icons/icon-heart.svg);
    }

    &--cart::before {
      width: 33px;
      height: 34px;
      background-image: url(../images/header-icons/icon-cart.svg);
    }

    &:focus {
      outline-color: transparent;
      box-shadow: 0px 0px 0px 4px $dark-400;
    }

    &:hover {
      background-color: $dark-911;
    }

    &:active {
      color: $silver-600;
    }

    &--user {
      @include media-w($md) {
        display: none;
      }

      @include media-w($sm) {}
    }

    &--favorite {
      @include media-w($sm) {
        display: none;
      }
    }

    &--search {
      display: none;

      @include media-w($xs) {
        display: block;
      }
    }
  }

  &__icon {
    display: inline-block;
    object-fit: contain;
  }

  &__num {
    overflow: hidden;
    position: absolute;
    top: 5px;
    right: 38px;
    display: block;
    padding: 3px;
    border-radius: 9px;
    background-color: $white;
    font-weight: 600;
    font-size: 10px;
    color: $red-900;
    z-index: 2;

    &--favorite {
      @include media-w($sm) {
        display: none;
      }
    }
  }
}

/*::::::::::::::::::::::::::header-finish::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::support::::::::::::::::::::::::::::::::::::::::::::::*/
.support {
  display: flex;
  align-items: center;
  padding: 48px 0;
  background-color: $silver-100;
  max-height: 146px;
  overflow: hidden;

  @include media-w($md) {
    padding: 30px 0;
    min-height: 270px;
  }

  &__list {
    max-height: 50px;
    max-width: 924px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-w($md) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    padding-left: 74px;
    width: 275px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      z-index: 5;
      @extend %bg-center-contain;
    }

    &--scooter::before {
      background-image: url(../images/support/scooter.svg);
    }

    &--return::before {
      background-image: url(../images/support/return-box.svg);
    }

    &--24::before {
      background-image: url(../images/support/24-hours.svg);
    }
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__title {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    margin-bottom: 6px;
    @include overflow(2);

  }

  &__text {
    display: block;
    max-width: 201px;
    font-size: 14px;
    line-height: 1.4;
    @include overflow(2);
  }
}

/*::::::::::::::::::::::::::support-finish:::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::top-products:::::::::::::::::::::::::::::::::::::::::*/
.top-products {
  padding: 71px 0 73px;
  text-align: center;

  &__title {
    margin-bottom: 12px;
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 45px;

    @include media-w($xl) {
      grid-template-columns: repeat(3, 1fr);
      align-items: auto;
    }

    @include media-w($md) {
      grid-template-columns: repeat(2, 1fr);
      align-self: auto;
      grid-auto-rows: 409px;

    }
  }

  &__btn {
    margin-bottom: 70px;
  }
}

.banner {
  display: flex;
  justify-content: center;

  @include media-w($xl) {
    flex-wrap: wrap;
    justify-content: flex-start;

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @include media-w($sm) {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 345px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;

    @include media-w($sm) {
      &:first-child {
        margin-right: 0;
      }
    }

    @include media-w($xs) {
      margin-right: 0px;
    }
  }


  &__item {
    @extend %bg-center-cover;
    text-align: left;
  }

}

/*::::::::::::::::::::::::::top-products-finish::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::actions::::::::::::::::::::::::::::::::::::::::::::::*/
.actions {
  padding: 72px 0;
  background-color: $silver-200;
  text-align: center;

  &__title {
    margin-bottom: 10px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 53px;
  }

  &__img {
    margin-right: 0;
    z-index: -2;
  }

  &__raiting {
    position: relative;
    padding-right: 20px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 16px;
      height: 16px;
      background-image: url(../images/actions/star-icon.svg);
      @extend %bg-center-cover;
    }
  }
}

/*::::::::::::::::::::::::::actions-finish:::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::our-news::::::::::::::::::::::::::::::::::::::::::::::::*/
.our-news {
  padding: 3px 0 73px;
  background-color: $white;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__item {
    flex-basis: 410px;
  }

  &__link {
    max-height: 25px;
    padding-bottom: 6px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid $green-900;
    color: $green-900;
    letter-spacing: 0.7px;
    transition: color 0.3s,
      border-bottom 0.3s;

    &:hover {
      color: $hover-1000;
      border-bottom: 2px solid $hover-1000;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}

/*::::::::::::::::::::::::::our-news-finish:::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::footer:::::::::::::::::::::::::::::::::::::::::::::::*/
.footer {
  padding: 32px 0 19px;
  background-color: $dark-800;
  color: $white;
  line-height: 1.4;

  &__logo {
    display: block;
    margin-bottom: 23px;
  }

  &__item {
    max-width: 203px;

    &--form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 300px;
    }
  }

  &__point {
    margin-bottom: -7px;

    &:last-child {
      margin-bottom: -3px;
    }
  }

  &__link {
    padding: 7px 0 19px 0;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    transition: opacity 0.3s;

    &:focus {
      outline-color: transparent;
      box-shadow: 0px 0px 0px 4px $dark-400;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-900;
    }
  }

  &__wrapper {
    min-width: 462px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__top {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    border-bottom: 1px solid $dark-920;
  }

  &__bottom {
    padding: 18px 0px 6px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy {
    text-transform: uppercase;
  }

  &__pay:not(:last-child) {
    margin-right: 25px;
  }

  &__img {
    object-fit: contain;
    width: 100%;
  }

  &__payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*::::::::::::::::::::::::::footer-finish::::::::::::::::::::::::::::::::::::::::*/